/* Envolvendo o bloco de tasks */
#to-do {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgba(27, 2, 46, 0.87);
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

#to-do h1 {
    color: #e5f9ff;
    font-size: 28px;
}

.to-do-form {
    display: flex;
    width: 100%;
}
.to-do-form input {
    background-color: transparent;
    border: none;
    color: #e5f9ff;
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border-bottom: 2px solid #ee9ca7;
}

/* Para tirar a borda do imput */
.to-do-form input:focus-visible {
    outline: none;
}

.to-do-form .form-button {
    border: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #ee9ca7;
    border-radius: 100%;
    font-size: 20px;
    transition: scale 0.5s ease;
}

/* Leve aumento dos botões de incluir */
.to-do-form .form-button:hover {
    cursor: pointer;
    scale: 1.05;
}

.task .progress {
    margin-right: 10px;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px; /* limite de quantidade de tasks antes do scroll */
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #262626;
    background-color: #191933;
    padding: 8px 12px;
    border-radius: 4px;
}

/* Sobre a aba oculta*/
.task .progress {
    margin-right: 10px;
}

/* Sobre a aba oculta de editar a task*/
.task .progress.done + .task-description {
    text-decoration: line-through;
    color: #e5f9ffa7;
}

.task .task-description {
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    width: 100%;
}

/* Sobre os botões de apagar e editar */
.task .task-actions {
    display: flex;
    gap: 10px;
}

.action-button {
    font-size: 16px;
}

.action-button.edit-button {
    color: #6c9bbc;
}

.action-button.delete-button {
    color: #ee9ca7;
}

/* Para ocultar a aba oculta de editar a task*/
.hidden {
    display: none !important;
}

@media screen and (max-width: 600px) {
    #to-do {
        width: 100%; 
    }
}

