/* Estilo do bloco de tarefas */
#to-do {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgba(47, 2, 91, 0.795);
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

#to-do h1 {
    color: #e5f9ff;
    font-size: 28px;
}

/* Formulário de adicionar/editar tarefas */
.to-do-form {
    display: flex;
    width: 100%;
}

.to-do-form input {
    background-color: transparent;
    border: none;
    color: #e5f9ff;
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border-bottom: 2px solid #ee9ca7;
}

/* Tirar a borda azul do input ao focar */
.to-do-form input:focus-visible {
    outline: none;
}

/* Botão "+" e "check" */
.to-do-form .form-button {
    border: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #ee9ca7;
    border-radius: 100%;
    font-size: 20px;
    transition: scale 0.5s ease;
}

.to-do-form .form-button:hover {
    cursor: pointer;
    scale: 1.05;
}

/* Área que contém todas as tarefas */
#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px; /* Scroll após muitas tarefas */
    overflow: auto;
}

/* Cada tarefa */
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #191933;
    padding: 8px 12px;
    border-radius: 4px;
}

/* Checkbox da tarefa */
.task .progress {
    margin-right: 10px;
}

/* Texto da tarefa */
.task .task-description {
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    width: 100%;
}

/* Quando marcada como concluída (classe adicionada via JS) */
.task .task-description.done {
    text-decoration: line-through;
    color: #e5f9ffa7;
}

/* Botões de ação (editar, excluir) */
.task .task-actions {
    display: flex;
    gap: 10px;
}

.action-button {
    font-size: 16px;
}

.action-button.edit-button {
    color: #6c9bbc;
}

.action-button.delete-button {
    color: #ee9ca7;
}

/* Ocultar formulários e elementos dinamicamente */
.hidden {
    display: none !important;
}

/* Responsivo */
@media screen and (max-width: 600px) {
    #to-do {
        width: 100%;
    }
}


